.main {
  margin-top: 50px;
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
  text-align: left;
  font-family: Poppins Regular;
}

.text_bold_italic {
  font-style: italic;
}

.projects_list li a {
  text-decoration: underline;
  transition: color 0.2s ease;
}
.projects_list li a:hover {
  color: rgb(172, 171, 171);
}

.heading a {
  color: white;
  text-decoration: none;
}

.heading p {
  font-size: 15px;
  color: rgb(170, 170, 170);
}

.content {
  margin-top: 20px;
}

.content p {
  margin-top: 10px;
  font-size: 17px;
  font-style: italic;
}

.content h2 {
  margin-top: 20px;
}

.divider {
  height: 1px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}

.content ul {
  margin-top: 10px;
  margin-left: 25px;
}

.content ul li {
  display: list-item;
  position: relative;
  padding-left: 5px;
  margin-bottom: 10px;
  font-family: Poppins Regular;
  font-size: 17px;
}

.content ul img {
  vertical-align: middle;
  margin-right: 8px;
  width: 27px;
  height: 27px;
}

.github_stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin: 1.5rem 0;
}

.github_stats img {
  flex: 1 1 auto;
  max-width: 480px;
  min-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.connect_ul li a {
  transition: color 0.2s ease;
}

.connect_ul li a:hover {
  color: rgb(172, 171, 171);
}
