@import "tailwindcss";

@font-face {
  font-family: Poppins ExtraBold;
  src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins Regular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Outfit Bold;
  src: url(../assets/fonts/Outfit-Bold.ttf);
}

@font-face {
  font-family: Outfit Regular;
  src: url(../assets/fonts/Outfit-Regular.ttf);
}