.markdown_body {
  margin: 0 auto;
  padding: 20px;
  line-height: 1.7;
  font-family: Poppins Regular;
  max-width: clamp(700px, 60vw, 1000px);
}

.heading_markdown p {
  font-size: 15px;
  color: rgb(170, 170, 170);
}

.markdown_body {
  margin-top: 50px;
  color: rgb(204, 204, 204);
}

.markdown_body a {
  text-decoration: underline;
}

.heading_markdown a {
  color: white;
  text-decoration: none;
}

.markdown_body h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  font-family: Outfit Bold;
}

.markdown_body p {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
  text-justify: inter-word;
}

.markdown_body ul {
  list-style-type: disc;
}
.markdown_body ol {
  list-style-type: decimal;
}

.markdown_body ul,
.markdown_body ol {
  margin-left: 1.5em;
  padding-left: 1.5em;
  list-style-position: outside;
  text-align: left;
}

.markdown_body li {
  margin-bottom: 0.7em;
  line-height: 1.5;
}

.markdown_body a {
  color: #cececeff;
  transition: color 0.2s ease;
}

.markdown_body a:hover {
  color: white;
}

.markdown_body img {
  display: block;
  margin: 0 auto;
  border-radius: 1.5%;
}

.markdown_body code {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffcc66;
  font-family: "Fira Code", monospace;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 0.95em;
}

.markdown_body pre {
  background-color: rgba(255, 255, 255, 0.1);
}

.markdown_body pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

/* Headings link */
.anchor-link {
  text-decoration: none !important;
  color: inherit;
}

.anchor-link:hover::before {
  content: '#';
  position: absolute;
  left: -1.5em;
  color: #888;
  font-weight: normal;
}

.markdown_body h1,
.markdown_body h2,
.markdown_body h3,
.markdown_body h4,
.markdown_body h5,
.markdown_body h6 {
  position: relative;
  scroll-margin-top: 80px;
}

/* Override Tailwind's Configs */

.markdown_body h1 {
  font-size: 2em;
  font-weight: bold;
}

.markdown_body h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.markdown_body h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.markdown_body h4 {
  font-size: 1em;
  font-weight: bold;
}

.markdown_body h5 {
  font-size: 0.83em;
  font-weight: bold;
}

.markdown_body h6 {
  font-size: 0.67em;
  font-weight: bold;
}
